/* styles.css */

#MainMenu, footer {
    visibility: hidden;
}

/* Full page container */
.main .block-container {
    padding: 0;
    margin: 0;
    max-width: 95%;
}

/* Adjust body padding */
body {
    padding: 0;
}

/* Remove header padding */
.css-1d391kg {
    padding: 0;
}

.centered-metric {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 100%;
}
.centered-metric .stMetric {
    margin: auto;
    font-size: 30px;
    padding: 15px 0;
}
.compact-input {
    margin-bottom: 10px;
}
.compact-input input {
    width: 100%;
}

/* Remove footer padding */
footer {
    padding: 0;
}

.label-input {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    color: whitespace; /* White text */
    font-weight: bold;
    font-size: 16px;
    width: 100%; /* Full width */
    text-align: right; /* Align text to the right */
    height: 40px;
    margin-bottom: 16px;
}
