/* styles.css */

/* Full page container */
.main .block-container {
    padding: 0;
    margin: 0;
    max-width: 95%;
}

/* Adjust body padding */
body {
    padding: 0;
}

/* Remove header padding */
.css-1d391kg {
    padding: 0;
}

.centered-metric {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 100%;
}
.centered-metric .stMetric {
    margin: auto;
    font-size: 30px;
    padding: 15px 0;
}
.compact-input {
    margin-bottom: 10px;
}
.compact-input input {
    width: 100%;
}

/* Remove footer padding */
footer {
    padding: 0;
}

input[type="text"] {
    background-color: #f0f0f0; /* Light grey background */
    border: 2px solid #dcdcdc; /* Grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the input */
    font-size: 14px; /* Font size */
    width: 100%; /* Full width */
}

input[type="number"] {
    background-color: #f0f0f0; /* Light grey background */
    border: 2px solid #dcdcdc; /* Grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the input */
    font-size: 14px; /* Font size */
    width: 100%; /* Full width */
}

div.stTextInput label {
    font-weight: bold;
    font-size: 16px;
    color: #333; /* Darker text color */
}

div.stNumberInput label {
    font-weight: bold;
    font-size: 16px;
    color: #333; /* Darker text color */
}
